.flex-container {
  width: 100%;

  /* height: 100%; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* 수직 정렬 */

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 수평 정렬 */
}

#p_content {
  width: 100%;
  margin: 20px;
  padding: 30px;
  max-width: 1000px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

body.color_scheme_dark #p_content {
  background-color: #262b30 !important;
  border: 0;
}

#p_content #p_title {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
}

#p_icn {
  display: inline;
  filter: invert(36%) sepia(38%) saturate(5586%) hue-rotate(335deg) brightness(120%) contrast(101%);
  width: 60px;
}

#s_content {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  text-align: left;
  margin-bottom: 10px;

  * {
    margin: 7px;
  }
}

#s_title {
  font-size: 15px;
  color: #ff4757;
}

#s_value {
  font-size: 18px;
}

#btn_layer {
  width: 100%;
  margin-top: 50px;
}

#ok_btn {
  width: 100%;
  height: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 5rem;
  border: 0;
  background-color: #ff4757;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

#s_hr {
  color: #ebebeb;
  margin-left: 20px;
  margin-right: 20px;
}

.btn_nm {
  background-color: #b2bec3 !important;
}

.additional-info {
  border-top: 1px solid #868e96;
  border-bottom: 1px solid #868e96;
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 100%;

  > div.additional-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }
}